@font-face {
  font-family: "iconfont"; /* Project id 3005775 */
  src: url('iconfont.woff2?t=1643094199409') format('woff2'),
       url('iconfont.woff?t=1643094199409') format('woff'),
       url('iconfont.ttf?t=1643094199409') format('truetype');
}

/**
https://www.iconfont.cn/manage/index?spm=a313x.7781069.1998910419.16&manage_type=myprojects&projectId=3005775&keyword=&project_type=&page=
 */

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Patterntype-1:before {
  content: "\e641";
}

.icon-a-Patterntype-2:before {
  content: "\e642";
}

.icon-a-Patterntype-5:before {
  content: "\e643";
}

.icon-a-Patterntype-3:before {
  content: "\e644";
}

.icon-a-Patterntype-4:before {
  content: "\e645";
}

.icon-tianjia:before {
  content: "\e640";
}

.icon-tupian1:before {
  content: "\e63f";
}

.icon-fanhui:before {
  content: "\e63e";
}

.icon-tupian:before {
  content: "\e63c";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-xuanzhong-gou:before {
  content: "\e63b";
}

.icon-shejiqi-yulan-guanbi:before {
  content: "\e63a";
}

.icon-shejiqi-shuzhi-jian:before {
  content: "\e639";
}

.icon-shejiqi-wenjianku:before {
  content: "\e638";
}

.icon-yulandanchuangxiazai:before {
  content: "\e629";
}

.icon-shejiqi-beijing:before {
  content: "\e62a";
}

.icon-shejiqi-qianjin:before {
  content: "\e62b";
}

.icon-shejiqi-shangchuan:before {
  content: "\e62c";
}

.icon-shejiqi-shanchu:before {
  content: "\e62d";
}

.icon-shuipingfanzhuan:before {
  content: "\e62e";
}

.icon-shejiqi-fangda:before {
  content: "\e62f";
}

.icon-tianjiawenzi:before {
  content: "\e630";
}

.icon-shejiqi-chuizhifanzhuan:before {
  content: "\e631";
}

.icon-shejiqi-fanhui:before {
  content: "\e632";
}

.icon-shejiqi-shuzhi-jia:before {
  content: "\e633";
}

.icon-shejiqi-suoxiao:before {
  content: "\e634";
}

.icon-tuodong:before {
  content: "\e635";
}

.icon-shejiqi-tuichu:before {
  content: "\e636";
}

.icon-shejiqi-fuzhi:before {
  content: "\e637";
}

.icon-shejiqi-3juzhongduiqi:before {
  content: "\e623";
}

.icon-shejiqi-4dibuduiqi:before {
  content: "\e624";
}

.icon-shejiqi-6shuipingduiqi:before {
  content: "\e625";
}

.icon-shejiqi-5shangduiqi:before {
  content: "\e626";
}

.icon-shejiqi-1youduiqi:before {
  content: "\e627";
}

.icon-shejiqi-2zuoduiqi:before {
  content: "\e628";
}

